.card {
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 30px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}